# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


adlakroshani_db_user
QjILAk6y1im5iQvT


mongodb+srv://adlakroshani_db_user:QjILAk6y1im5iQvT@cluster0.eymfqop.mongodb.net/?appName=Cluster0

mongodb://adlakroshani_db_user:QjILAk6y1im5iQvT@ac-1mp97pv-shard-00-00.eymfqop.mongodb.net:27017,ac-1mp97pv-shard-00-01.eymfqop.mongodb.net:27017,ac-1mp97pv-shard-00-02.eymfqop.mongodb.net:27017/?ssl=true&replicaSet=atlas-hc3rzy-shard-0&authSource=admin&appName=Cluster0

register -token
{
  "message": "Registration successful",
  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2YTdjNjUxNjU1NjdmZjQyZDgxNjM4YmYiLCJ1c2VybmFtZSI6IlJvc2huaSIsImlhdCI6MTc4NjUzNzIzOCwiZXhwIjoxNzg3MTQyMDM4fQ.0YMpY5sPE02lqiFW-Y4FiHY-5cHSCsL3twhA9VyZz38",
  "user": {
    "id": "6a7c65165567ff42d81638bf",
    "username": "Roshni",
    "email": "roshni@test.com"
  }
}